const config = {

	/*
	* change prefix to whatever you desire
	* optional, defaults to "w!" if empty or unchanged
	*
	* obtain bot token by visiting here:
	* https://discord.com/developers/applications/
	*
	* obtain your Discord ID by enabling developer mode on discord,
	* then right click on your username > copy ID

	* obtain saucenaoAPIKey by registering here:
	* https://saucenao.com/user.php
	* optional, leave empty if not needed
	*
	* then rename this file to 'config.js'
	*/
	
	"prefix": "prefix_here",
	"token": "token_here",
	"ownerID": "id_here",
	"saucenaoAPIKey": "key_here",

};

module.exports = config;